@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
}
:root {
  --bg-color: #ffffff;
  --main-color: #ff1e1e;
  --text-color: #000000;
  --other-color: #83868c;
  --second-color: #d9d9d9;
  --h1-font: 5.5rem;
  --h2-font: 2.8rem;
  --p-font: 1.1rem;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 10%;
  background: var(--bg-color);
  box-shadow: 0 2px 5px -2px #0000001a;
  transition: all 0.6s ease;
}
.navList {
  display: flex;
}
.navList a {
  display: inline-block;
  font-size: var(--p-font);
  color: var(--text-color);
  margin: 0 30px;
  padding: 2px 0;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}
.navList a:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
.nav-content {
  display: flex;
  align-items: center;
}
.nav-content a {
  display: inline-block;
  font-size: 23px;
  color: var(--text-color);
  margin: 0 10px;
  transition: all 0.3s ease;
}
.nav-content a:hover {
  transform: scale(1.1);
  color: var(--main-color);
}
#menu-icon {
  font-size: 32px;
  z-index: 10001;
  cursor: pointer;
  margin-left: 10px;
  display: none;
}
span {
  color: red;
}
.logo {
  color: var(--text-color);
  font-size: 1.9rem;
}
section {
  padding: 80px 10% 80px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.hero-text h1 {
  font-size: var(--h1-font);
  font-weight: 700;
  color: var(--bg-color);
  margin: 10px 0 20px;
  line-height: 1;
}
.hero-text h4 {
  font-size: 22px;
  font-weight: 600;
  color: var(--bg-color);
  letter-spacing: 4px;
}
.hero-text p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--bg-color);
  margin-bottom: 30px;
}
.btn {
  color: var(--bg-color);
  letter-spacing: 2px;
  display: inline-block;
  padding: 11px 40px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid var(--bg-color);
  transition: all 0.3s ease;
}
.btn:hover {
  background: var(--bg-color);
  color: var(--main-color);
  border: 1px solid var(--bg-color);
  transform: scale(1.1);
}
.center-text {
  text-align: center;
}
.center-text h6 {
  font-size: 15px;
  font-weight: 600;
  color: var(--main-color);
}
.center-text h2 {
  font-size: var(--h2-font);
  font-weight: 600;
}
.col-img img {
  max-width: 200px;
  max-height: 200px;
}
.store-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
  margin-top: 3rem;
}
.col {
  padding: 10px;
  border: 1px solid var(--other-color);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.col-img {
  max-width: 200px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.col-text h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.col-text p {
  line-height: 21px;
}
.col:hover {
  transform: scale(1.04) translateY(-4px);
  border: 1px solid var(--main-color);
}
.banner {
  padding: 10px 10% 10px;
}
.banner-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  gap: 2rem;
}
.banner-img {
  position: relative;
}
.banner-img img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.banner-in {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
}
.banner-in h3 {
  font-size: 40px;
  font-weight: 500;
  margin: 10px 0;
}
.banner-in h5 {
  font-size: 20px;
  font-weight: 400;
}
.b-btnn {
  padding: 10px 27px;
  display: inline-block;
  background-color: var(--text-color);
  color: var(--bg-color);
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 10px;
  transition: all 0.3s ease;
}
.b-btnn:hover {
  background: var(--main-color);
  transform: scale(1.1);
}
.seller-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  gap: 1.7rem;
  margin-top: 4rem;
}
.row-img {
  overflow: hidden;
}
.row-img img {
  display: block;
  width: 100%;
  transition: transform 0.6s;
  cursor: pointer;
}
.row-img img:hover {
  transform: scale(1.2);
}
.row {
  position: relative;
  text-align: center;
  cursor: pointer;
}
.row h5 {
  margin-top: 15px;
  font-size: var(--p-font);
  font-weight: 500;
  margin-bottom: 7px;
}
.row h6 {
  font-size: 17px;
  font-weight: 600;
  color: var(--main-color);
}
.row .s-btn a {
  position: absolute;
  bottom: 95px;
  left: 0;
  right: 0;
  padding: 13px;
  background: rgb(0, 0, 0,0.8);
  color: var(--bg-color);
  transition: opacity 0.5s;
  opacity: 0;
}
.row:hover .s-btn a{
  opacity: 1;
}